@model vetKado.Entity.Pet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Ad</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Species" class="control-label">Tür</label>
        <input asp-for="Species" class="form-control" />
        <span asp-validation-for="Species" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Breed" class="control-label">Cinsi</label>
        <input asp-for="Breed" class="form-control" />
        <span asp-validation-for="Breed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label">Yaş</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerId" class="control-label">Sahibi</label>
        <select asp-for="OwnerId" asp-items="ViewBag.OwnerList" class="form-control">
            <option value="">Bir sahip seçin</option>
        </select>
        <span asp-validation-for="OwnerId" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Hayvan Oluştur" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

